
<ul>
    <li style="margin-bottom: 2em; font-weight: bold; font-size: 1.2em;;">
    {{ box.nom }} :
    <img class="card-img-top"
    src="{{ pathImage }}/{{ box.image }}"
    alt="{{ box.nom }}"
    style="width: 20em;">
    <ul style="font-weight: normal; font-size: normal;">
    <li style="margin-top: 0.5em;">Nombre de pièces : {{ box.nbPieces }}</li>
    <li style="margin-top: 0.5em;">Saveurs :</li>
    <ul>
    <li *ngFor="let saveur of box.saveurs">{{ saveur }}</li>
    </ul>
    <li style="margin-top: 0.5em;">Prix : {{ box.prix }}€</li>
    <li style="margin-top: 0.5em;">Aliments :</li>
    <ul>
    <li *ngFor="let aliment of box.aliments"> {{ aliment.quantite }} x {{
    aliment.nom }}</li>
    </ul>
    <li style="margin-top: 0.5em; font-size: 1.2em;">Quantité dans le panier : {{
    box.quantiteCommande }}</li>
    </ul>
    </li>
    </ul>